<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ASCS Journal</title>
    <meta name="version" content="{{version}}">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="assets/manifest.json">
    {{#if base}}
        <base href="{{base}}">
    {{/if}}
    {{> analytics}}
</head>
<body>
<h1>ASCS Journal</h1>

<p style="margin-bottom: 1em;">
    Welcome to our Journaling App! This app was created as part of the ASCS Capstone Engineering Project to help people express themselves, stay organized, and track their personal growth.
</p>
<p>------------------------------</p>
<p>
    Your information is stored locally on your device and is never shared with anyone.
</p>
<p>------------------------------</p>

<a href="https://docs.google.com/forms/d/1ghPsOEq3XK9MPQv7fl1XQul5aSVAgYOy35egA69P8hM/preview">General Information Google Form: Before Usage!</a>

<p>------------------------------</p>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSfk37WaU1XoAn7EiHkpCa8SvE2K8uHP6M0yA2kH-ZPIL9BItg/viewform">Click Here for General Information Google Form: After Usage!</a>

<p>------------------------------</p>
{{> navbar}}
</body>
</html>
